<h3> Question #<%= count %> </h3>
      <ul>
        <li>
        <label>Question:</label>
        <textarea row=5 col=40 id="body" type="text" name="question[body]" value=""></textarea>
      </li>
      <div class="spacer"></div>
      <li>
        <label>Options:</label>
        <% question.options.each_with_index do |option, index| %>
        <input type="text" name="option[choice<%= index %>]" value="<%= option.choice %>" />
        <div class="spacer"></div>
        <% end %>
      </li>
    </ul>
    <input id="thisinput" type="submit" value="Add a New question" />