<ul>
  <li>
    <%= question.body %><form action="/questions/<%= question.id %>/delete" method="POST">
    <input type="submit" value="DELETE"/>
    <input name="_method" type="hidden" value="DELETE" /></form>
    <% question.options.each do |option| %>
      <ul>
        <li><%= option.choice %></li>
      </ul>
    <% end %>
  </li>
</ul>
