<div class="editdiv">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <form  class="smart-green editform" action="/questions/<%= @question.id %>" method="POST">
    <%= erb :"questions/_form", locals: { count: @count, question: @question } %>
  </form>
</div>
      
