<div class="smart-green">
	<li>
	  </h5><%= question.body %></h5>
	  <ol>
	  <% question.options.each do |option| %>
	     <div class="spacer"></div>
	    <li><%= option.choice %> : <%= option.votes.count %> votes</li>
	  <% end %>
	</ol>
	     <div class="spacer"></div>
	</li>
</div>
