<li>
  
  <%options_array = [] %>
  <% votes_array = []%>
  <% question.options.each do |option| %>
    <% options_array << option.choice %>
    <% votes_array << option.votes.count %>
  <% end %>
  <img src="<%=Gchart.pie(:size => '500x300', :title => question.body ,:bg => 'efefef',:legend => options_array, :data => votes_array)%>" />
</li>
