<li>
  </h5><%= question.body %></h5>
  <ul>
  <% question.options.each do |option| %>
     <div class="spacer"></div>
    <li><%= option.choice %> : <%= option.votes.count %></li>
  <% end %>
     <div class="spacer"></div>
  </ul>
</li>
