<script>runScript();
  function runScript() {
    if(window.$) {
        $(document).ready(function() {
          alert("it works");
        $("#addnew").on("submit", function(e) {
            e.preventDefault();
          $.ajax({
              type: $(this).attr("method"),
              url: $(this).attr("action"),
              data: $(this).serialize()
            }).done(function(e) {
              $(".container").append(e);
            }).fail(function(e) {
              alert(e.statusText);
            });
        }); 
        });  
    } else {
      window.setTimeout( runScript, 50)
    }
  }
</script>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <form id="addnew" class="smart-green" action="/surveys/<%=@survey.id%>/questions" method="POST">
    <h3> Question #<%= @count %> </h3>
      <ul>
        <li>
        <label>Question:</label>
        <textarea row=5 col=40 id="body" type="text" name="question[body]" value=""></textarea>
      </li>
      <div class="spacer"></div>
      <li>
        <label>Options:</label>
        <input type="text" name="option[choice1]" value="" />
        <div class="spacer"></div>
        <input type="text" name="option[choice2]" value="" />
        <div class="spacer"></div>
        <input type="text" name="option[choice3]" value="" />
        <div class="spacer"></div>
        <input type="text" name="option[choice4]" value="" />
        <div class="spacer"></div>
      </li>
    </ul>
    <input type="submit" value="Add a New question" />
  </form>
<!-- <a href="/surveys/<%= @survey.id%>/edit">Finish</a> -->
