<div id="page" class="container">
  <h3>Hi, <%=@user.name %></h3>
  <div class="spacer"></div>
  <a href="/users/<%=@user.id%>/posts">Your Posts</a>
  <div class="spacer"></div>
  <a href="/users/<%=@user.id%>/comments">Your Comments</a>
</div>
