<div id="page" class="container">
    <form id="login" class ="smart-green" action="/users/login" method='POST'>
     <h1>Login</h1>
     <ul>
      <li>
        <label>username</label>
        <input id="username" type="text" name="user[username]" />
      </li>
      <li>
        <label>password</label>
        <input id="login_pass" type="text" name="user[password]" />
      </li>
      <div class="spacer"></div>
      <li>
        <input id="login"type='submit' value='login' />
      </li>
      <div class="spacer"></div>
      <li>
           <a href="#">Forgot your password?</a>
      </li>
      <div class="spacer"></div>
      <li class="error">
      <%if flash[:error] %>
      <%= flash[:error] %>
      <%end%>
      </li>
    </ul>

  </form>

  <form id="register" class ="smart-green" action="/users/register" method='POST'>
     <h1>Create Account</h1>
     <ul>
      <li>
        <label>username</label>
        <input id="username" type="text" name="user[username]" />
      </li>
      <li>
        <label>password</label>
        <input id="password" type="text" name="user[password]" />
      </li>
      <li>
        <div class="spacer"></div>
        <input id='register' type='submit' value='create account' />
      </li>
    </ul>
  </form>
</div>
