<!-- <div id="page" class="container"> -->
<!-- <div id = "content"> -->
		<!-- <h1> Surveys Created by You</h1> -->
	<ul>
		<div class="spacer"></div>
		<% @surveys.each do |survey| %>
		<li>
			<h3><a href="/surveys/<%= survey.id %>"><%= survey.name %></a></h3>
			<%= survey.votes.count %> people have taken this survey.
		</li>
		<div class="spacer"></div>
		<% end %>
	</ul>
	<!-- </div> -->
<!-- </div> -->
