<div class="center">
  <% 5.times do %>
    <div class="spacer"></div>
  <% end %>
  <h1>Uh uh uh! You already voted!</h1>
  <div class="spacer"></div>
  <a href="/surveys">Click here to try another survey</a>
</div>
