<!-- show survey with all questions iterated in partials -->
<div id="page" class="smart-green container">
  <h1><%= @survey.name %></h1>
    <% @survey.questions.each do |question| %>
      <%= erb :"questions/edit", locals: {question: question} %>
  <% end %>
<form action="/surveys/<%= @survey.id %>" method="POST">
  <input type="submit" value="Submit" />
   </form>
<a href="/surveys/<%= @survey.id %>/questions/new">Add New Question</a></div>
