<div class="smart-green container">
  <% @surveys.each do |survey| %>
    <li><h3><a href="/surveys/<%= survey.id %>"><%= survey.name %></a></h3></li>
       <div class="spacer"></div>
  <% end %>
</div>
