<div id="page" class="container">
  <div id="newquestiondiv" class="smart-green">
  <form id="newsurveyform" action="/users/surveys" method="POST">
    <h1>Create A New Survey</h1>
    <input type="text" name="survey[name]" value="" placeholder="Survey Name" />
    <div class='spacer'></div>
    <input type="submit" value="Make New Survey" />
  </form>
  </div>
</div>
