<div class="smart-green">
<h1> <%= @survey.name %></h1>
  <ol>
    <% @survey.questions.each do |question| %>
      <%= erb :"questions/info", locals: {question: question, can_edit: @can_edit } %>
    <% end %>
  </ol>
</div>
