<div id="page" class="container">
<div class="center">
<h1> <%= @survey.name %></h1>
  <div class = "spacer"></div>
    <% @survey.questions.each_with_index do |question, index| %>
      <%= erb :"questions/info", locals: {question: question} %>
      <div class = "spacer"></div>
    <% end %>
  <% if @can_edit == true %>
    <a href="/surveys/<%= @survey.id %>/edit">Edit Survey</a>
  <% end %>
  </div>
</div>
