<div id="page" class="container">
 <h1>Welcome to Survey Gorilla</h1>
 <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT3zHLMT3-wppqX3vZKE91U_VJzHCvUzO_vzCS55sltsAqNe8iT"/>
 <h1><a href="/surveys">Come See The Surveys!</a></h1>
</div>
