<div id="page" class="center">
 <h1>Welcome to Survey Gorilla</h1>
 <img src="gorilla_rose.png" height="412" width="634" />
 <h1><a href="/surveys"><button>Come See The Surveys!</button></a></h1>
</div>
